lib-cov
logs

.idea
.DS_Store
**/*.DS_Store
files
npm-debug.log
*~
node_modules
server/commit.js
docs
esdoc
.tern-project
.anti_cache
public/static/lib
public/static/js/bundle
public/static/js/app.js
public/static/js/bundle/
run
*sublime*
coverage
