extend ./layout.jade

block content
  .container
    h1 Compiler test
  .container
    .row
      .col-sm-12.col-xs-12.col-md-12.col-lg-12
        .b-code--debug
          input#debug(type="checkbox")
          label  Debug mode
    .row
      .col-md-6.col-lg-6.col-sm-6.col-xs-6
        form
          textarea#input(rows=50)
      .col-md-6.col-lg-6.col-sm-6.col-xs-6
        form
          textarea#output(rows=50)
