extend ./layout.jade

block vars
  - var rows = new Array(10)
  - var cols = new Array(15);


block content
  .container
    h1!=title
  .container
    .row
      .col-md-8.col-lg-8.col-sm-12.col-xs-12
        .b-game
          canvas#play
      .col-md-4.col-lg-4.col-sm-12.col-xs-12
        h2 Моя команда
        div.actionList
        i.glyphicon.glyphicon-play(id='Go')
        .b-controls
          ul.b-players
            li.b-player
              i.glyphicon.glyphicon-asterisk(id = 'summoner' )

block footer
  footer
    .container
      p1 footer
