extend ./layout.jade

block vars
  - var env = locals.env;

block content
  script(type='text/javascript')
    |  window.ENV = '#{env}';
  ul.nav.nav-tabs
    li
      a(id="PlayGround") Playground
    li
      a(id="Console") Console

  .container
    h1!=title
  .container(id="PlayPane")
    .row
      .col-md-8.col-lg-8.col-sm-12.col-xs-12
        .b-game
          canvas#play(resize)
      .col-md-4.col-lg-4.col-sm-12.col-xs-12
        h2 Моя команда
        form
          textarea#code(rows=5, class="commandLine")
        i#summoner.glyphicon.glyphicon-asterisk
        i#go.glyphicon.glyphicon-play
        i#refresh.glyphicon.glyphicon-refresh
  .container(id="Code")
    i.glyphicon.glyphicon-play(id='SendVal')
    .row
      .col-sm-12.col-xs-12.col-md-12.col-lg-12
        .b-code--debug
          input(type="checkbox")#debug
          label Debug mode
    .row
      .col-md-6.col-lg-6.col-sm-6.col-xs-6
        textarea#input.b-code-area.b-code-area--in
      .col-md-6.col-lg-6.col-sm-6.col-xs-6
        pre#output.b-code-area.b-code-area--out.javascript.hljs

block footer
  footer
    .container
      p1 footer
