doctype html
block commonvars
  - var language = locals.language;

block vars

block root
  html(lang=language)
    block head
      head
        include ./head.jade
    body
      .g-overlays
        block overlays
          ul.nav.nav-tabs
            li
              a(href="/") Playground
            li
              a(href="compiler") SS2 Compiler
      .g-content
        block content
      .g-footer
        block footer
      block scripts
        - var scripts = locals.scripts || [];
        each url in scripts 
          script(type='text/javascript',src=url)
